VITE_APP_RECAPTCHA_KEY=6LeyCDgnAAAAAGSMO2ROpslpyQsSPrajn53vnmXU
VITE_API_BASE_URL=https://uznews.uicgroup.tech/api/v1/
VITE_APP_GOOGLE_CLIENT_ID=728810101238-3cmogmtccs707fevvf94erprkqmda7td.apps.googleusercontent.com
VITE_APP_FACEBOOK_CLIENT_ID=2216891608510654
